<p>logging-in works!</p>
<ng-container *ngIf="!logged"> <form (ngSubmit)="login()">
    <div>
      <label for="phone_number">Phone number:</label>
      <input type="text" id="phone_number" [(ngModel)]="phone_number" name="phone_number" required>
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" [(ngModel)]="password" name="password" required>
    </div>
    <button type="submit">Login</button>
  </form>
</ng-container>

<ng-container *ngIf="logged">
  <h1>Oh zrya ya suda polez</h1>
  <!-- Добавляем кнопку для выхода -->
  <button (click)="logout()">Logout</button>
</ng-container>
