<h1>Welocome to Movie2WEB</h1>
<h3>This is site where you will see a database of movies</h3>
<h3>Just as you will register and log in you can:</h3>
<ul>
    <li>Create a wath-list</li>
    <li>See movies you have already wathced</li>
    <li>Create your personal list of favorite movies</li>
    <li>Organize your movie world!</li>
</ul>

<img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.reddit.com%2Fr%2FLetterboxd%2Fcomments%2Fk9vl4a%2F
yes_i_am_how_could_u_tell_stranger%2F&psig=AOvVaw1FYKignn5-6hCQoDVbkBuL&ust=1714091172005000&source=images&cd=vfe&opi=
89978449&ved=0CBIQjRxqFwoTCJjD6a2N3IUDFQAAAAAdAAAAABAR" alt="Movie meme">
