<p>movie-details works!</p>
<div class="movie-container">
    <div class="image-container">
      <img src="{{ movie.photo }}" alt="Изображение фильма">
    </div>
    <div class="details-container">
      <h2>{{ movie.name }}</h2>
      <ul>
        <li><strong>Genre:</strong> {{ movie.genre }}</li>
        <li><strong>Director:</strong> {{ movie.director }}</li>
        <li><strong>Year:</strong> {{ movie.year_of_publishing }}</li>
      </ul>
    </div>
  </div>

<div>
    <button (click)="addMovie()" class="add_button">Добавить в список</button>
    <button (click)="removeMovie()" class="delete_button">Удалить из списка</button>
  </div>