<h1>You chose {{movie.name}}, great choice!</h1>
<div class="movie-container">
    <div class="image-container">
      <img src="{{ movie.photo }}" alt="Изображение фильма">
    </div>
    <div class="details-container">
      <h2>{{ movie.name }}</h2>
      <ul>
        <li><strong>Genre:</strong> {{ movie.genre }}</li>
        <li><strong>Director:</strong> {{ movie.director }}</li>
        <li><strong>Year:</strong> {{ movie.year_of_publishing }}</li>
      </ul>
    </div>
  </div>

<div>
    <button (click)="addMovieToWatchList()" class="add_button">Add to watch-list</button>
    <button (click)="removeMovieFromWatchList()" class="delete_button">Remove from watch-list</button>
  </div>

  <div>
    <button (click)="addMovieToWatchedList()" class="add_button">Add to watched-list</button>
    <button (click)="removeMovieFromWatchedList()" class="delete_button">Remove from watched-list</button>
  </div>

  <div>
    <button (click)="addMovieToPersonal()" class="add_button">Add to personal</button>
    <button (click)="removeMovieFromPersonal()" class="delete_button">Remove from personal</button>
  </div>